.login-form {
  display: flex;
  flex-direction: column;
}
#login-title {
  margin-top: var(--spacing-4);
  padding-bottom: var(--spacing-2);
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Kanit", Courier, sans-serif;
  text-shadow: 1px 1px var(--color-text-secondary);
}
p {
  padding: 0.5rem;
  text-transform: uppercase;
  font-family: "Kanit", Courier, sans-serif;
  text-shadow: 1px 1px var(--color-text-secondary);
}
.login-form > #form-input-size {
  width: 100%;
  border: 1px solid var(--color-text-header);
  font-family: "Kanit", Courier, sans-serif;
  border-radius: var(--radius);
  font-size: var(--spacing-2);
  background-color: var(--color-foreground);
  padding: var(--spacing-3) var(--spacing-3);
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#submit-button {
  border: none;
  color: var(--color-text-body);
  font-size: var(--spacing-3);
  font-family: "Kanit", Courier, sans-serif;
  border-radius: var(--radius);
  font-weight: 600;
  margin-bottom: var(--spacing-2);
  text-transform: uppercase;
  padding: var(--spacing-2) var(--spacing-3);
  margin: 8px 0;
}
#submit-button:hover {
  font-family: "Kanit", Courier, sans-serif;
  font-weight: 600;
  background-color: var(--color-text-secondary);
  color: var(--color-text-invert);
  opacity: 0.8;
}
@media only screen and (min-width: 278px) and (max-width: 414px) {
  #login-title {
    margin-top: var(--spacing-2);
    padding-bottom: var(--spacing-1);
    text-align: center;
    font-size: 0.9rem;
  }
  p {
    padding: 0.3rem;
    font-size: 0.6rem;
  }
  .login-form > #form-input-size {
    padding: var(--spacing-1) 0;
    outline: none;
    font-size: 0.7rem;
    padding-left: var(--spacing-2);
  }
  #submit-button {
    min-width: 40%;
    color: var(--color-text-body);
    font-size: 0.7rem;
    align-items: center;
    text-align: center;
    display: block;
  }
  #submit-button:hover {
    font-family: "Kanit", Courier, sans-serif;
    font-weight: 600;
    background-color: var(--color-text-secondary);
    color: var(--color-text-invert);
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  #login-title {
    margin-bottom: var(--spacing-1);
    padding-bottom: var(--spacing-1);
    font-size: 1.3rem;
  }
  .login-form > #form-input-size {
    padding: var(--spacing-2);
    border: 1px solid var(--color-text-header);
    font-family: "Kanit", Courier, sans-serif;
    border-radius: var(--radius);
    font-size: 0.75rem;
  }
  #submit-button {
    padding: var(--spacing-2);
    min-width: 50%;
    color: var(--color-text-body);
    font-size: var(--spacing-2);
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    display: block;
  }
  #submit-button:hover {
    font-family: "Kanit", Courier, sans-serif;
    font-weight: 600;
    background-color: var(--color-text-secondary);
    color: var(--color-text-invert);
  }
}
/* @media only screen and (max-width: 768px) {
  .login {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .login-form > input {
    width: 90%;
  }
} */
/* @media only screen and (min-width: 769px) and (max-width: 1024px) {
  .login {
    width: 95%;
    height: auto;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 2000px) {
  .login {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .login-form > input {
    width: 100%;
  }
} */
