* {
  box-sizing: border-box;
}
.login {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
form > .login:nth-child(1) {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-family: "Kanit", Courier, sans-serif;
  font-size: var(--spacing-2);
}
form > .login:nth-child(2) {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-family: "Kanit", Courier, sans-serif;
  font-size: var(--spacing-2);
}
form > .login:nth-child(3) {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-family: "Kanit", Courier, sans-serif;
  font-size: var(--spacing-2);
}
input:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
#submit-button {
  color: var(--color-text-body);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  opacity: 0.9;
  text-transform: uppercase;
  font-size: var(--spacing-3);
  font-family: "Kanit", Courier, sans-serif;
}
#submit-button:hover {
  font-family: "Kanit", Courier, sans-serif;
  font-weight: 600;
  background-color: var(--color-text-secondary);
  color: var(--color-text-invert);
}
/* .login {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  min-width: 350px;
  height: 500px;
  align-items: center;
  font-family: "Kanit", Courier, sans-serif;
  margin: auto 0;
} */
/* .login-form {
  display: flex;
  flex-direction: column;
  min-width: 70%;
} */
/* #login-title {
  margin-bottom: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  text-align: center;
  font-weight: bold;
  font-size: var(--spacing-4);
  text-shadow: 1px 1px var(--color-text-secondary);
}
.login-form > input {
  width: 50%;
  padding: var(--spacing-3) 0;
  padding-left: var(--spacing-2);
  margin-bottom: var(--spacing-1);
  outline: none;
  border: 1px solid var(--color-text-header);
  font-family: "Kanit", Courier, sans-serif;
  border-radius: var(--radius);
  font-size: var(--spacing-2);
  background-color: var(--color-foreground);
  text-align: center;
  align-items: center;
} */

/* #submit-button {
  width: 51%;
  padding: var(--spacing-2);
  margin-top: var(--spacing-1);
  border: none;
  color: var(--color-text-body);
  font-size: var(--spacing-3);
  font-family: "Kanit", Courier, sans-serif;
  border-radius: var(--radius);
  font-weight: 600;
  margin-bottom: var(--spacing-2);
  text-transform: uppercase;
}
#submit-button:hover {
  font-family: "Kanit", Courier, sans-serif;
  font-weight: 600;
  background-color: var(--color-text-secondary);
  color: var(--color-text-invert);
}
@media only screen and (max-width: 450px) {
  .login {
    width: 45%;
    height: auto;
    align-items: center;
    text-align: center;
    display: block;
    margin: 0.3rem 0;
    padding: var(--spacing-0);
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }
  #login-title {
    margin-bottom: var(--spacing-1);
    padding-bottom: var(--spacing-1);
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    display: flex;
  }
  .login-form > input {
    padding: var(--spacing-2);
    width: 45%;
    font-size: 0.75rem;
    margin: 0.3rem;
  }
  #submit-button {
    width: 45%;
    color: var(--color-text-body);
    font-size: var(--spacing-2);
    align-items: center;
    text-align: center;
    display: block;
  }
} */
