.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  max-width: var(--spacing-4);
  max-height: var(--spacing-4);
  margin-right: var(--spacing-2);
}

#header-title {
  font-size: var(--spacing-2);
  font-weight: bold;
  font-family: "Kanit", Courier, sans-serif;
  color: var(--color-text-body);
  margin-right: var(--spacing-4);
}
@media only screen and (max-width: 280px) {
  img {
    width: 80%;
    margin-right: auto;
  }
  #header-title {
    font-size: var(--spacing-1);
    margin-right: var(--spacing-2);
  }
}
@media only screen and (max-width: 412px) {
  img {
    width: 90%;
    margin-right: auto;
  }
}

@media only screen and (max-width: 960px) {
  img {
    width: 100%;
    margin-right: auto;
  }
}
