.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.logo img {
  max-width: var(--spacing-4);
  max-height: var(--spacing-4);
  margin-right: var(--spacing-2);
}

#header-title {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Kanit", Courier, sans-serif;
  color: var(--color-text-header);
  margin-right: 1.5rem;
  text-shadow: 1px 1px var(--color-text-secondary);
}
/* 
@media only screen and (max-width: 280px) {
  img {
    width: 80%;
    margin-right: auto;
  }
  #header-title {
    margin-right: var(--spacing-3);
  }
  .logo img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: var(--spacing-0);
  }
} */
@media only screen and (max-width: 415px) {
  img {
    width: 80%;
    margin-right: auto;
  }
  #header-title {
    margin-right: 0.6rem;
  }
  .logo img {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: var(--spacing-0);
  }
}
@media only screen and (max-width: 960px) {
  img {
    width: 100%;
    margin-right: auto;
  }
}
