html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html,
body {
  background: var(--color-background);
  color: var(--color-text-body);
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  align-items: center;
  margin: 0 auto;
}
.hoverable:hover {
  cursor: pointer;
}
:root {
  --color-background: #e0e4e6;
  --color-background-secondary: #f3f3f3;
  --color-foreground: #ffffff;
  --color-button: #5a5959;
  --color-border: #e6e6e6;
  --color-text-header: #444444;
  --color-text-body: #6f6f6f;
  --color-text-secondary: #717171;
  --color-text-invert: #ffffff;
  --color-text-link: #4ec3f5;
  --color-branding: #115241;
  --color-branding-transparent: #73afaf40;
  --color-header: #e4e1e1;
  --color-comment-background: #fdf9f9;
  --color-search: #000000;
  --color-alert: #ff304f;
  --color-success: #45b81f;
  --color-on-hover: #0000000f;
  --color-logout: OrangeRed;
  --box-shadow: 0 15px 15px -3px rgba(0, 0, 0, 0.1),
    0 5px 9px -2px rgba(0, 0, 0, 0.05) !important;
  --box-shadow-hover: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 35px 35px -15px rgba(0, 0, 0, 0.04) !important;
  --color-background-button-login: #000000;
  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 36px;
  --spacing-5: 64px;
  --spacing-6: 300px;
  --spacing-7: 380px;
  --spacing-8: 500px;
  --spacing-9: 600px;
  --spacing-10: 900px;

  --radius: 4px;
  --radius-2: 8px;
}

p {
  margin: 0;
}
