:root {
  --border-radius: 5px;
  --primary-color: #1d4f88;
  --secondary-color: teal;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(206, 214, 223);
}

.hoverable:hover {
  cursor: pointer;
}
