.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", Courier, sans-serif;
  text-transform: uppercase;
}

.error button {
  color: var(--color-text-body);
  border: none;
  border: none;
  border-radius: var(--radius);
  font-size: 1rem;
  padding: var(--spacing-2) var(--spacing-4);
  cursor: pointer;
  font-family: "Kanit", Courier, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.error button:hover {
  font-family: "Kanit", Courier, sans-serif;
  font-weight: 600;
  background-color: var(--color-text-secondary);
  color: var(--color-text-invert);
}
.error h2 {
  color: var(--color-alert);
}
@media only screen and (min-width: 280px) and (max-width: 450px) {
  .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Kanit", Courier, sans-serif;
    margin-top: 5rem;
  }
  .error button {
    color: var(--color-text-body);
    border: none;
    border: none;
    border-radius: var(--radius);
    font-size: 1rem;
    padding: var(--spacing-2) var(--spacing-4);
    cursor: pointer;
    font-family: "Kanit", Courier, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  .error h2 {
    color: var(--color-alert);
    font-size: 1rem;
  }
}
