.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-button);
  font-weight: normal;
  padding: var(--spacing-1) var(--spacing-3);
}
#basic-menu {
  display: block;
}
#basic-button,
#login-button {
  font-family: "Kanit", Courier, sans-serif;
  font-weight: 600;
  color: var(--color-text-body);
  margin-bottom: 1rem;
}

#close-button {
  display: block;
  font-size: var(--spacing-2);
  color: var(--color-text-body);
  align-items: center;
  margin-right: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  text-transform: uppercase;
  font-family: "Kanit", Courier, sans-serif;
}

#basic-button:hover {
  font-family: "Kanit", Courier, sans-serif;
  font-weight: 600;
  background-color: var(--color-text-secondary);
  color: var(--color-text-invert);
}

#close-button:hover {
  font-family: "Kanit", Courier, sans-serif;
  font-weight: 600;
  background-color: var(--color-text-secondary);
  color: var(--color-text-invert);
}

#login-button:hover {
  font-family: "Kanit", Courier, sans-serif;
  font-weight: 600;
  background-color: var(--color-text-secondary);
  color: var(--color-text-invert);
}
@media only screen and (min-width: 278px) and (max-width: 414px) {
  .dashboard {
    padding: var(--spacing-0);
    display: inline-block;
  }
  #basic-button,
  #login-button {
    padding: var(--spacing-0);
    font-size: 0.4rem;
    font-weight: 600;
    margin: auto 0;
  }

  #close-button {
    margin: 0 auto;
    text-align: center;
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  .dashboard {
    padding: var(--spacing-0) var(--spacing-2);
  }
  #basic-button,
  #login-button {
    padding: var(--spacing-0);
    font-size: 0.8rem;
    font-weight: 600;
    margin: auto 0;
  }

  #close-button {
    margin: 0 auto;
    text-align: center;
  }
}
