.dashboard {
  display: flex;
  align-items: center;
  color: #5a5959;
  font-weight: 500;
}
#basic-button {
  font-family: "Kanit", Courier, sans-serif;
  font-weight: 600;
  color: var(--color-text-body);
}

#close-button {
  font-family: "Kanit", Courier, sans-serif;
  color: var(--color-text-body);
}
