.dashboard {
  display: flex;
  align-items: center;
  color: #5a5959;
  font-weight: 500;
}
#basic-button,
#close-button,
#login-button {
  font-family: "Kanit", Courier, sans-serif;
  font-weight: 600;
  color: var(--color-text-body);
}

#close-button {
  float: right;
  margin: 30px 40px;
}
