.card {
  background: var(--color-foreground);
  box-shadow: var(--box-shadow);
  margin-bottom: var(--spacing-4);
  border-radius: var(--radius);
  padding: var(--spacing-3);
  transition: box-shadow 0.1s ease-in;
  color: var(--color-text-secondary);
  font-family: "Kanit", Courier, sans-serif;
  min-width: 300px;
}

.card:hover {
  box-shadow: var(--box-shadow-hover);
}

@media only screen and (min-width: 480px) {
  .card {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
