.button {
  padding: 5px 25px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-weight: 500;
}
.primary-button {
  color: white;
  background-color: var(--primary-color);
}
.secondary-button {
  color: var(--primary-color);
}
