.header {
  display: inline-flex;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: var(--spacing-1);
  font-family: "Kanit", Courier, sans-serif;
  background-color: var(--color-header);
  height: var(--spacing-5);
  margin-bottom: 1rem;
}

.searchbar {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: var(--spacing-10);
  margin: var(--spacing-1);
}
input[type="text"] {
  margin: auto;
  max-width: 900px;
  height: var(--spacing-5);
  float: left;
  height: auto;
  padding-left: 1rem;
  border: var(--spacing-0) solid hsl(263, 6%, 43%);
  font-family: "Kanit", Courier, sans-serif;
  outline: none;
  background-color: var(--color-foreground);
  font-size: var(--spacing-2);
  box-sizing: border-box;
}
.header #btn {
  position: relative;
  padding: var(--spacing-1);
  height: 2.1rem;
  width: 2.1rem;
  cursor: pointer;
  text-align: center;
  align-items: stretch;
  font-weight: 600;
  border: none;
  font-family: "Kanit", Courier, sans-serif;
  background-color: var(--color-text-secondary);
  color: var(--color-text-invert);
}
#button-subreddit {
  display: none;
}
#button-subreddit {
  float: left;
  right: 1rem;
  top: 20%;
  z-index: 2;
  font-size: 1.3rem;
  color: var(--color-foreground);
  background-color: var(--color-logout);
  border: 1px solid black;
  border-radius: var(--radius);
  margin: var(--spacing-1);
}
@media only screen and (min-width: 280px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-0) var(--spacing-1);
    font-family: "Kanit", Courier, sans-serif;
  }
  input {
    width: 50%;
    height: var(--spacing-3);
    padding: var(--spacing-0);
  }
  #btn {
    float: left;
    width: var(--spacing-3);
    height: var(--spacing-3);
    cursor: pointer;
    font-size: var(--spacing-2);
    font-weight: 600;
    border: none;
    padding: var(--spacing-0);
  }

  #button-subreddit {
    display: block;
  }
}
@media only screen and (max-width: 415px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-1) var(--spacing-3);
  }
  input {
    width: 100%;
    height: var(--spacing-3);
    padding-left: var(--spacing-2);
    border: var(--spacing-0) solid hsl(263, 6%, 43%);
    font-family: "Kanit", Courier, sans-serif;
    outline: none;
    background-color: var(--color-background);
    display: flex;
    font-size: var(--spacing-2);
  }
  #button-subreddit {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .searchbar {
    width: 100%;
  }
  input {
    width: 100%;
    height: var(--spacing-3);
    padding-left: var(--spacing-2);
    border: var(--spacing-0) solid hsl(263, 6%, 43%);
    font-family: "Kanit", Courier, sans-serif;
    outline: none;
    background-color: var(--color-background);
    display: flex;
    font-size: var(--spacing-2);
  }
  #button-subreddit {
    display: block;
  }
}
@media only screen and (min-width: 769px) and (max-width: 2200px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  input {
    width: 100%;
    height: var(--spacing-3);
    padding-left: var(--spacing-2);
    border: var(--spacing-0) solid hsl(263, 6%, 43%);
    font-family: "Kanit", Courier, sans-serif;
    outline: none;
    background-color: var(--color-background);
    display: flex;
    font-size: var(--spacing-2);
  }
  #button-subreddit {
    display: none;
  }
}
