* {
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-1) var(--spacing-3);
  font-family: "Kanit", Courier, sans-serif;
  background-color: var(--color-background);
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: var(--spacing-8);
  margin: 0 var(--spacing-2);
}
input {
  width: 100%;
  height: var(--spacing-4);
  padding: 10px 20px;
  padding-left: 40px;
  border: 2px solid hsl(263, 6%, 43%);
  background-color: #e7e4e4;
  font-family: "Kanit", Courier, sans-serif;
  outline: none;
  background-color: var(--color-background);
  display: flex;
  font-size: var(--spacing-2);
}

#btn {
  float: left;
  width: 43px;
  height: 43px;
  cursor: pointer;
  color: var(--color-text-invert);
  font-size: 18px;
  font-weight: 600px;
  border: none;
  padding: 10px;
}
#btn {
  font-family: "Kanit", Courier, sans-serif;
  font-weight: 600;
  background-color: var(--color-text-secondary);
  color: var(--color-text-invert);
}
@media only screen and (max-width: 480px) {
  .header {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    font-family: "Kanit", Courier, sans-serif;
    background-color: var(--color-background);
    height: 60px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    font-family: "Kanit", Courier, sans-serif;
    background-color: var(--color-background);
    height: 70px;
  }
}
