article {
  max-width: 72%;
  border-radius: var(--radius-2);
}

.post-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0.5rem; */
  /* margin-top: 4rem; */
}

.post-container {
  width: 100%;
}

.post-details {
  margin-top: var(--spacing-0);
  border-top: 3px solid var(--color-border);
  padding-top: var(--spacing-1);
  font-size: var(--spacing-2);
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.post-details .author-username {
  color: var(--color-branding);
  font-weight: bold;
  text-shadow: 1px 1px var(--color-text-secondary);
}

.post-image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: var(--radius-2);
}

.post-image {
  width: 100%;
  height: auto;
  margin: var(--spacing-2);
  border-radius: var(--radius-2);
  overflow: hidden;
}

.post-title {
  margin-left: var(--spacing-3);
  color: var(--color-text-header);
  font-size: 1.3rem;
  text-shadow: 1px 1px var(--color-text-secondary);
}

.post-votes-container {
  margin: var(--spacing-2);
  padding: var(--spacing-2);
  float: right;
}

.post-votes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.icon-action {
  font-size: 1.5rem;
}

.post-votes-container .post-votes-value {
  font-weight: bold;
}

.post-votes-value.up-vote {
  color: var(--color-success) !important;
}

.post-votes-value.down-vote {
  color: var(--color-alert) !important;
}

.up-vote:hover {
  color: var(--color-success) !important;
}

.up-vote.active {
  color: var(--color-success) !important;
}

.down-vote:hover {
  color: var(--color-alert) !important;
}

.down-vote.active {
  color: var(--color-alert) !important;
}

.icon-action-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text-secondary);
  padding: 0;
  position: relative;
  border-radius: var(--radius);
}

.icon-action-button:hover {
  background: var(--color-on-hover);
}

.post-comments-container {
  display: flex;
  align-items: center;
  word-break: break-word;
}

.post-comments-container .icon-action {
  margin-right: var(--spacing-0);
}

.author-details {
  display: flex;
  align-items: center;
}

.showing-comments {
  color: var(--color-branding);
}
@media screen and (device-width: 280px) {
  article {
    width: 100%;
    margin: 1rem;
  }
  .post-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .post-container {
    width: 100%;
    margin: var(--spacing-0);
  }
  .post-image-container.post-image {
    /* width: 100%; */
    height: auto;
    overflow: hidden;
    background-size: cover;
  }
  .post-details {
    margin-top: var(--spacing-0);
    border-top: 2px solid var(--color-border);
    padding-top: var(--spacing-1);
    padding-right: var(--spacing-1);
    font-size: var(--spacing-2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
  }
  .author-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: var(--spacing-1);
    text-shadow: 2px 2px #ff0000;
  }
  span .author-username {
    font-size: 1rem;
    font-weight: bold;
  }
}

@media screen and (device-width: 415px) {
  .post-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .post-container {
    width: 90%;
    margin: var(--spacing-2);
  }
  .post-image-container.post-image {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    background-size: auto;
  }
}
@media only screen and (max-width: 768px) {
  article {
    width: 95%;
    margin: 1rem;
  }
  .post-container {
    width: 100%;
  }
  .post-image-container.post-image {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    background-size: auto;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  article {
    width: 98%;
    margin: 1rem;
  }
  .post-container {
    width: 100%;
  }
  .post-image-container.post-image {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    background-size: auto;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 2200px) {
  article {
    width: 100%;
    margin: 1rem;
  }
  .post-container {
    width: 100%;
  }
  .post-image-container.post-image {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    background-size: auto;
  }
}
